#menu{
    width: 133px;
}
#menu ul {
    padding:0px;
    margin:0px;
    background-color: #4e0250;
    list-style:none;
    align-content: center;
}
#menu ul li { 
    display: inline;
    border-bottom:none !important;
 }

#menu ul li a {
    padding: 5px 11px;
    display: inline-block;
    /* visual do link */
    color: #ffffff;
    text-decoration: none;
    border-bottom:none !important;
    font-size: 0.8em;
}

#menu ul li a:hover {
    background-color:#F7F7E8;
    color: #4e0250;
    border-bottom:3px solid #e6258c !important;
    transition-property: all;
    transition-duration: 0.8s;
    transition-timing-function: ease;
    transition-delay: 0s;
}